.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
            line-clamp: 3; 
    -webkit-box-orient: vertical;
}
#info img{
    width: 30%;
}
 #products {
    display: inline-block;
    padding: 30px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: black;
}
#desc {
    float: right;
    margin-top: 100px;
    display: inline-block;
    background-color: rgb(251, 251, 254);
    border-radius: 25px;
    border: solid;
    border-width: 1px; 
    border-color: rgb(219, 222, 235);
}
#desc2 {
    border-radius: 25px;
    border: solid;
    border-width: 1px; border-color: rgb(219, 222, 235);
    background-color: rgb(251, 251, 254);
}
#desc_color {
    border: none; border-bottom: solid;
    border-width: 1px; 
    border-color: rgb(219, 222, 235);
}